# **Python Variables and Data Types**

#### **Variables** are containers for storing data values.

In [33]:
x = 5
print(x)

5

#### Multiple Assignment

In [35]:
a = b  = 10
print(a)
print(b)

10
10

In [39]:
a, b = 24,12
print(a)
print(b)

24
12

#### Mathematical operation with Variable Assigment

In [41]:
print(a + b)
print(a - b)
print(a * b)
print(a / b)

36
12
288
2.0

# **Data Types**
- **Text Type:** str
- **Numeric Types:** int, float, complex
- **Sequence Types:** list, tuple, range
- **Mapping Type:** dict
- **Set Types:** set, frozenset
- **Boolean Type:** bool
- **Binary Types:** bytes, bytearray, memoryview

### **int (Integer)**

In [9]:
6 + 4

10

In [10]:
12 * 10

120

In [51]:
a = 100
type(a)

int

### **str (String)**

In [16]:
"Hello, Universe!"

'Hello, Universe!'

In [17]:
type("Hello, Universe!")

str

In [23]:
name = "Fenil Maisuria"
type(name)

str

In [171]:
#Python string
str = 'Hello, Universe!'

print (str)          # Prints complete string
print (str[0])       # Prints first character of the string

print (str[:2])      # Prints string ending from 2nd character
print (str[2:5])     # Prints characters starting from 3rd to 5th
print (str[2:])      # Prints string starting from 3rd character

print (str * 2)      # Prints string two times
print (str + " How are you?") # Prints concatenated string

Hello, Universe!
H
He
llo
llo, Universe!
Hello, Universe!Hello, Universe!
Hello, Universe! How are you?

###  **float (Float)**

In [20]:
5.0

5.0

In [21]:
a = 24.50
type(a)

float

In [24]:
8.0 + 12

20.0

### **complex (Complex)**

In [28]:
1j

1j

In [29]:
type(1j)

complex

### **list[] (List)**

In [7]:
type([])

list

In [9]:
list1 = [1, 2, 3, 4, 5 ];
print(list1)

[1, 2, 3, 4, 5]

In [10]:
print('List index 0 : ',list1[0])
print('List index 4 : ',list1[4])

List index 0 :  1
List index 4 :  5

In [23]:
# Using the list() constructor to make a List:
list2 = list(("apple", "banana", "orange", 1 , 2 , 3 ,'apple', 24.5)) # note the double round-brackets
print(list2)
type(list2)

['apple', 'banana', 'orange', 1, 2, 3, 'apple', 24.5]

list

In [46]:
# List indexing
print('List Value   : ',list2)
print('list2[:5]    : ',list2[:5])    # between 1 to 4 index 
print('list2[5:]    : ',list2[5:])    # starting from 5 to the end
print('list2[-1]    : ',list2[-1])    # Last index value
print('list2[2:6]   : ',list2[2:6])   # Starting from 2 to 5
print('list2[-4:-1] : ',list2[-4:-1]) # from last 4 to last

List Value   :  ['apple', 'banana', 'orange', 1, 2, 3, 'apple', 24.5]
list2[:5]    :  ['apple', 'banana', 'orange', 1, 2]
list2[5:]    :  [3, 'apple', 24.5]
list2[-1]    :  24.5
list2[2:6]   :  ['orange', 1, 2, 3]
list2[-4:-1] :  [2, 3, 'apple']

In [64]:
# List Basic Operation
l1 = [1,2,3]
l2 = [4,5,6]
l3 = l1 + l2
print(l3)        # Concatenation 
print(l1 * 4)    # Repetition 
print(3 in l1)   # Membership

for x in l3 :    # Iteration
    print (x,end = ' ')

[1, 2, 3, 4, 5, 6]
[1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3]
True
1 2 3 4 5 6

In [63]:
print('length of the list    : ',len(l1))
print('Maximum value in list : ',max(l1))
print('Minimum value in list : ',min(l1))

length of the list    :  3
Maximum value in list :  3
Minimum value in list :  1

In [119]:
fruits = ["apple", "banana", "orange"]
print(fruits,'\n')

# Append 
fruits.append("mango")
print('Append mango              : ',fruits)

# Change 
fruits[1] = "blackcurrant"
print('Change index 1 value      : ',fruits)

# Insert 
fruits.insert(2,"watermelon")
print('Insert value at index 2   : ',fruits)

# Extend
fruits.extend(l1)
print('Extend List with l1 value : ',fruits)

# Remove 
fruits.remove(3)
print('Remove value 3 :          : ',fruits)

# Pop 
fruits.pop(6)
print('Pop index 6 and value     : ',fruits)

# Delete
del fruits[5]
print('Delete index 5 and value  : ',fruits)

fruits.clear()
print('Clear the List            : ',fruits)

# List Comprehension
newlist = [x for x in range(10)]
print('List Comprehension        : ',newlist)

['apple', 'banana', 'orange']

Append mango              :  ['apple', 'banana', 'orange', 'mango']
Change index 1 value      :  ['apple', 'blackcurrant', 'orange', 'mango']
Insert value at index 2   :  ['apple', 'blackcurrant', 'watermelon', 'orange', 'mango']
Extend List with l1 value :  ['apple', 'blackcurrant', 'watermelon', 'orange', 'mango', 1, 2, 3]
Remove value 3 :          :  ['apple', 'blackcurrant', 'watermelon', 'orange', 'mango', 1, 2]
Pop index 6 and value     :  ['apple', 'blackcurrant', 'watermelon', 'orange', 'mango', 1]
Delete index 5 and value  :  ['apple', 'blackcurrant', 'watermelon', 'orange', 'mango']
Clear the List            :  []
List Comprehension        :  [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [138]:
# Sort List Alphanumerically
fruits = ["orange", "mango", "kiwi", "pineapple", "banana"]
fruits.sort()
print('Sort List Alphanumerically : ',fruits)

# Sort List Numerically
mylist = [100, 50, 65, 82, 23]
mylist.sort()
print('Sort List Numerically      : ',mylist)

# Sort List Descending
mylist.sort(reverse = True)
print('Sort List Descending       : ',mylist)

# Copy
ls2 = mylist.copy()
print('Copy List into ls2         : ',ls2)

# Count
x = ls2.count(100)
print('Count value of 100         : ',x)

y = ls2.index(50)
print('Find index of 50           : ',y)

Sort List Alphanumerically :  ['banana', 'kiwi', 'mango', 'orange', 'pineapple']
Sort List Numerically      :  [23, 50, 65, 82, 100]
Sort List Descending       :  [100, 82, 65, 50, 23]
Copy List into ls2         :  [100, 82, 65, 50, 23]
Count value of 100         :  1
Find index of 50           :  3

### **tuple() (Tuple)**

In [141]:
tupl=tuple()
type(tupl)

tuple

In [165]:
tupl = ("apple", "banana", "orange")
print(tupl)
print('Length of tuple       : ',len(tupl))
print('Tuple slicing         : ',tupl[1])
print('Count value of banana : ',tupl.count('banana'))
print('Index of orange value : ',tupl.index('orange'))

('apple', 'banana', 'orange')
Length of tuple       :  3
Tuple slicing         :  banana
Count value of banana :  1
Index of orange value :  2

In [152]:
thistuple = ("apple",) # thistuple = ("apple") the single value consider as str datatype not tuple
print(type(thistuple))

<class 'tuple'>

In [153]:
# Tuples are unchangeable, or immutable as it also is called.
# So need to convert tuple into list and perform specific task
y = list(tupl)
y[1] = "kiwi"
tupl = tuple(y)
print(tupl)

('apple', 'kiwi', 'orange')

In [159]:
fruits = ("apple", "banana", "orange")
(t1, t2, t3) = fruits

print(t1)
print(t2)
print(t3)

apple
banana
orange

In [160]:
for x in fruits:
    print(x)
    
tuple1 = ("a", "b" , "c")
tuple2 = (1, 2, 3)

tuple3 = tuple1 + tuple2
print(tuple3)

apple
banana
orange
('a', 'b', 'c', 1, 2, 3)

### **range (Range)**

In [168]:
print(type(range))

<class 'type'>

In [170]:
x = range(2, 24, 2)
for n in x:
    print(n)

2
4
6
8
10
12
14
16
18
20
22